
.notification{
  // width:476px;
  background: #fff;
  padding: 20px;
  border-radius:20px;
  display: flex;
  align-items:center;
  justify-content:center;
  align-self: center;
  margin: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 14px;
  
  &__notification{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 55px;
    height: 55px;
    border-radius:50%;
    background: #EEF7FE;
  }
  &__message{
    
    h2{
      font-size:1rem;
      color:white;
      font-weight:500;
      margin-bottom: 5px;
    }
  
  }
}