.card {
	position: relative;
	width: auto;
	height: 6rem;
	background: rgb(13,12,29);
	background: linear-gradient(90deg, rgba(13,12,29,1) 0%, rgba(117,113,115,1) 35%, rgba(197,207,209,1) 100%);
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: height 0.5s ease-in-out;
  margin: 0.3rem;
	border-radius: 15% 0% 50% 15% / 50% 30% 0% 50%;

  &:hover{
    background: rgb(126,123,172);
		background: linear-gradient(40deg, rgba(126,123,172,1) 0%, rgba(117,114,113,1) 35%, rgba(255,255,255,1) 100%);
		box-shadow: 50px 50px 50px rgba(255,255, 255, 0.2);
  }
}

.card.active {
	height: 8.5rem;
}

.content {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	transition: margin 700ms;
	width: 100%;

	 &.active{
		 @extend .content;
		 transition: margin 700ms;
		 margin-bottom: .5rem;
	 }
}

.imgBx {
	width: auto;
  display: flex;
  justify-content: center;
  width: 30%;
	height: 5rem;
	overflow: hidden;
  
   .icon-main{
     display: flex;
		 flex-direction: column;
		 justify-content: space-around;
     align-items: center;
     color: #2AC420;

    &-missed{
      @extend .icon-main;
      color: red;
    }

    &-voicemail{
      @extend .icon-main;
      color: violet;
    }
   }
}

.card .content h2 {
	margin-left: 15px;
	font-size: 1.3em;
	color: #111;
	width: 50%;
}

.card .content h2 span {
	font-size: 0.8em;
	font-weight: 600;
	color: whitesmoke;
}

.navigation {
	position: relative;
	// top: 2rem;
	bottom: 0.5rem;
	height: 100%;
	min-height: 6rem;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
	align-items: center;
}

.navigation li {
	list-style: none;
	border-bottom: 1px solid black;

	&:hover{
		color:blanchedalmond;
		cursor: pointer;
	}
	
}

.navigation li a:hover {
	color: #36b3ff;
}

.navigation li a i {
	font-size: 1.6em;
	margin-right: 15px;
}

.toggle {
	position: absolute;
	bottom: 0;
	right: 2%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 5;

}

.archive{
	position: absolute;
	right: 2%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 5;
  top:2%;
}

.date-separator{
	position: relative;
	text-align: center;
	margin: 0rem 0.3rem;
	color: rgba(255,255,255,1);
	font-weight: bold;
	border-bottom: 2px dashed white;
	padding: 0.5rem;
}



.card.active .toggle {
	transform: rotate(180deg);
}

.clock {
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
	margin-top: 0.5rem;
}
