@font-face{
  font-family: 'Gemunu Libre';
  src:'https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap'
}

.container-calls-1 {
	// max-width: 700px;
	// min-height: 16em;
	font-family: 'Gemunu Libre', sans-serif;
	height: 79%;
	margin: 0;
	padding:0;
  width: 98%;
	overflow: hidden;

	.container-calls-2 {
		width: 105%;
    height: 100%;
    padding-right: 5px;
    overflow-y: scroll;
	}

}

.container--tabs {
	width: 96%;
	list-style: none;
	display: flex;
	flex-direction: row;
	
	.tab {
		min-height: 2em;
		max-height: 3em;
		padding: 1em;
		box-sizing: border-box;
		width: 200px;
		text-align: center;
		cursor: pointer;
		border-radius: 99px;
		margin: 0.3em;
		background-color: #fff;
		color: black;
		font-size: 1rem;
		white-space:nowrap;
		padding: 0.3rem 0;
		transition: background-color 0.25s;
		
		&:hover {
			background-color: rgba(0, 0, 0, 0.25);
			transition: background-color 0.25s;
			color: white;
		}
	}
	
	.tabs--active {
		background-color: rgba(0,0,0, 0.35);
		border: 2px solid #2AC420;
		color: white;
		pointer-events: none;
	}
}

h1 {
	margin-bottom: 0.5em;
	font-weight: 700;
}

p {
	font-weight: 300;
}
