@font-face{
  font-family: 'Gemunu Libre';
  src:'https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap'
}

.container {
	// max-width: 700px;
	// min-height: 16em;
	font-family: helvetica, sans-serif;
	margin: 0;
	padding:0;
	overflow-y: auto;
}

.container--tabs {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;

	.tab {
		min-height: 2em;
		padding: 1em;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		cursor: pointer;
		border-radius: 99px;
		margin: 0.3em;
		background-color: #fff;
		color: black;
		font-size: 1rem;
		transition: background-color 0.25s;
		align-self: center;
		
		&:hover {
			background-color: rgba(0, 0, 0, 0.25);
			transition: background-color 0.25s;
			color: white;
		}
	}
	
	.tabs--active {
		background-color: black;
		color: white;
		pointer-events: none;
	}
}

h1 {
	margin-bottom: 0.5em;
	font-weight: 700;
}

p {
	font-weight: 300;
}
