#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: rgb(126,123,172);
  background: linear-gradient(180deg, rgba(126,123,172,1) 0%, rgba(117,114,113,1) 35%, rgba(255,255,255,1) 100%);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}

